{% extends 'base.html.twig' %}

{% block body %}




  {% for entrepriseCourant in entreprises %}

  <div class="card">





          <div class="container-fluid">
          	<div class="row">
          		<div class="col-md-12">
          			<div class="jumbotron card card-block">
                  <div class="card-body">
                    <p>
                      <img src="{{entrepriseCourant.getLogo}}" width="60" height="60">
            				</p>
          				<h4 class="card-title">{{entrepriseCourant.getNom}}</h4>
          			     <h5 class="card-text">{{entrepriseCourant.getAdresse}}</h5>

                  <h5 class="card-text">Stages proposé : </h5>
                  {% if entrepriseCourant.stages|length > 0 %}
                    {% for stage in entrepriseCourant.stages %}
                      <li>
                        <a href={{path('proStages_stages',{id:stage.id})}}>{{stage.intitule}}</a>
                      </li>




        {% endfor %}
      {% else %}
          <li>
              <b>Aucun</b>
          </li>
      {% endif %}
</div>
</div>
</div>
    </div>
	</div>
 </div>
   {% endfor %}
  {% endblock %}
