{% extends 'base.html.twig' %}

{% block titre %}
<h3> ProStages | Stage </h3>
{% endblock %}

{% block titreStage %}
<h4> Information - {{stage.intitule}} </h4>
{% endblock %}

{% block body %}


<!-- Saut de ligne -->
<p>
  <br />
</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <dl>
        <dt>
          Description
        </dt>
        <dd>
          {{stage.description}}
        </dd>
        <dt>
          Créé le
        </dt>
        <dd>
          {{stage.dateDebut}}
        </dd>
        <dt>
          Durée
        </dt>
        <dd>
          {{stage.duree}}
        </dd>
        <dt>
          Compétences requises
        </dt>
        <dd>
          {{stage.competencesRequises}}
        </dd>
        <dt>
          Expérience requise
        </dt>
        <dd>
          {{stage.ExperienceRequise}}
        </dd>
        <dt>
          Entreprise proposant le stage
        </dt>
        <dd>
          {{stage.entreprise.getNom}}
        </dd>
        <dt>
          Formation proposant le stage
        </dt>

        {% for formation in stage.getFormation %}
          {{formation.intitule}}
          {% if loop.last == false %}
          ,
          {% endif %}
      {% endfor %}
      </dl>
    </div>
  </div>
</div>
{% endblock %}
